/demos
/src
/types
/test

# misc
/.dependabot
/.github
/.editorconfig
/.env*
/.eslintignore
/.eslintrc.yml
/.git/
/.gitignore
/babel.config.js
/yarn.lock
/jest.config.js
/rollup.config.js
/tsconfig.*
.gitkeep
.idea
